.text-input {
    border: 1px solid lightgray;
    height: 50px;
    font-weight: 300;
    padding: $s-size;
    margin-right: $s-size;
}

.select{
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}